
numpy==1.24.3
scipy==1.11.4
pandas==2.1.4
scikit-learn==1.3.2
tqdm==4.66.1

python-dotenv==1.0.0
matplotlib==3.8.2

# two towers
# tensorflow==2.13.0
# tensorflow-recommenders==0.7.3

#phoBERT
torch==2.1.0
transformers==4.35.0
sentencepiece==0.1.99
sentence-transformers==2.2.2

# Web API
fastapi==0.95.2
pydantic==1.10.13
uvicorn[standard]==0.24.0

# Database 
sqlalchemy==2.0.23
mysqlclient==2.2.0
